body{
    display: grid;
    grid-template-columns: 100px 1fr 140px;
    grid-template-areas:
    "head head head" 
    "menu feed msg";
}
body > header{
    grid-area: head;
    background-color: blue;
}
body > aside{
    background-color: #ccc;
}
    .menu {
        grid-area: menu;
    }
    .messenger {
        grid-area: msg;
    }
}
body > main{
    background-color: yellow;
}